body{
  overflow-x: hidden;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-background{
  transition: background-color 2s ease;
  background-color: #666;
}
body {
  margin: 0px;
  transition: background-color 2s ease;
  /* background-color: black; */
  background-color: black;

}

.scroll-background {
  background-color: white;
}

.bg {
  background: url(https://www.hanafn.com/upload/common/upeditor/10000110/20230208/20230208093421265.jpg) no-repeat;
  background-color: rgba(0, 0, 0, 0.3); /* 흑색(검정)에 50% 투명도를 가지는 색상 */
  background-blend-mode: multiply; /* 배경 이미지와 색상을 곱셈하여 어둡게 표현 */
  height: 50vh;
  background-size: cover; /* 이미지를 상위 div에 딱 맞추기 */
  background-position: center; /* 이미지를 가운데 정렬 */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
}

.picture-text {
  color: white;
  display: absolute;
  font-size: 54px;
  font-weight: bold;
}

.sub-content {
  margin: 0 auto;
  width: 70%;
}

#black {
  background-color: white;
}

#white {
  background-color: white;
}

.second-half{
  height: 100vh;
  /* background-color: white; */
}

.head {
    margin-bottom: 20px;
    text-align:start;
    display: relative

} 

.part {
    color: green;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#hanalogo{
    width: 232px;
    height: 220px;
    /* 1안 */
    /* background: url(/temp3/hana_logo_white.png) no-repeat; */
    /* 2안 */
    /* background: url(/resources/HanaSymbol.png) no-repeat; */

    flex: right;
    margin: 0 auto;
}
#family {
  /* background: url("https://www.hanafn.com/assets/img/ko/info/img-aboutus-banner.png") no-repeat; */
  position: realtive;
  left: 0;
  overflow: hidden;
  transform: translateX(-15vw);
  width: 70vw;
  height: auto;
  background-size: 80%;
  border-radius: 0 20px 20px 0;
}



.aboutus-list{
position: relative;

}
.overview-top {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    line-height: 50px;
}
#reveal-width-498{
  display:none;
}
#recruit > .overview-top{
  color: black;
}
.aboutus{
    padding: 20px;
    background: white;
    border-radius: 5px;
    /* font-size: 30px; */
}

.aboutus-content {
  max-width: 100%;
  padding: 20px;
  margin-top: 15vh;
  border-radius: 5px;
  display: flex;
}


#recruit-smile {
  /* background-size: contain; */
  position: relative;
  right: 0;
  overflow: hidden;
  transform: translateX(+15vw);
  height: 200px;
  background-size: cover;
  border-radius: 20px 0 0 20px;
  margin-top: 10vh;
  margin-bottom: 30vh; 
  width: 70vw;
  height: auto;
}
.image-shape{
  /* display:flex; */
  margin: auto;
  float: left;
  width: 20vw;
  margin-right: 10vh;
  align-items: center;
  object-fit: contain;
  /* transition: all 0.5s; */
}
.reveal{
  /* display: block; */
  display: none;
}
.reveal-enter{
  display: none;
}
.reveal-text{}
.text-wrap{
  float: right;
}

.head#recruit{
  margin-top: 200px;
}

.sub-title {
    /* font-size: 25px;
    font-weight: bold;
    margin-top : 0px;
    margin-bottom: 10px; */
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.text {
    margin-bottom: px;
    font-size: 24px;
}
#graph{
  display:flex;
  width: 70vw;
  align-items: center;
}
.talents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.left-tit__set{
  display: flex;
  flex-direction: row;
  margin: 100px 0 100px 0;
}
.left-tit{
  display: flex;
}

.tit{
  align-items: center;
  display: flex;
  margin: 0 auto;

  font-size: 36px;
  font-weight: 700;
  word-break: keep-all;
}
.editor{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.middle-tit{
  width: 50vw;
  color: #666;
  font-size: 24px;
}
.list-row{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  color: #666;
  font-weight: 700;
  font-size: 18px;
}
  /* 미디어 쿼리 */
/* @media screen and (max-width: 600px) {
    .sub-content {
    width: 90%;
    }
} */

@media screen and (max-width: 1230px){
  #family ,#recruit-smile{
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 100%;
    background-size: contain;
    background-size: 100%;
    border-radius: 20px;
    transform: translateX(0);
  }
  

}

@media screen and (max-width:1000px){
  .image-shape{
    display: none;
  }
  
  .reveal{
    display: flex;
    margin: 0 auto;
    width: 30vw;
    object-fit: contain;
    /* display: none; */
  }
}
@media screen and (max-width:851px){
  .overview-top,.sub-title{
    font-size: 30px;
  }

  p.text, p.tit{
    font-size: 20px;
  }
  .left-tit__set{
    flex-direction: column;
    margin-left: 0px;
    }
    .editor {
    margin-left: 0px;
    }
    p.tit{
      margin-left: 0px;
    }
    p.middle-tit {
      width: 70vw;
    }
  
}
@media screen and (max-width:600px){

.reveal{
  display: none;
}
#graph{
  width: 90vw;
  display: none;
}

#recruit-smile{
  margin-bottom: 3vh;
}
}

@media screen and (max-width:652px){

}
@media screen and (max-width:639px){
  .sub-content{
    width: 90%;
  }
  p.middle-tit {
    width: 90vw;
}
  #graph{
    width: 90vw;
    display: none;
}
  .list-row{
    justify-content: space-between;
  }
}

@media screen and (max-width:488px){
.list-row{
  display: none;
}
.left-tit__set{
  margin: 10px;
}

}


@media screen and (max-width:439px){
.reveal-enter{
  display: inline;
}
}
@media screen and (max-width:497px){
  #reveal-width-498{
    display:inline;
  }
  #hidden-width-498{
    display: none;
  }
}

@media screen and (max-width:360px){
p.sub-title{
  font-size: 25px;
  margin-bottom: 20px;
}
}