.fade-in-content {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in-content.visible {
    opacity: 1;
}


body{
    background: black;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    overflow-x: hidden;
    transition: all 0.5s ease;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: black;

}



.sub_visual_box{
    margin:0 auto;
    position: absolute;
    width: 100%;
    height: 700vh;
}

#sub_background_img{ 
    margin-left: 1px;
    margin-right: 1px;
    width:100%;
    height: 100%;
    
}


.dynamic_img_frame{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:120px;
    width: 100%;
    height: 90vh;

}

#dynamic_img{
    height: 100%;
    width: 120rem;
    background-image: url(../resources/backgroundStar.avif);
    opacity: 0.4;
}

.arrow_frame{
    position: relative;
    top:44rem;
    margin: auto;
    width: 5rem;
    height: 5rem;
}

.arrow_box{
    position: fixed;
    width: 5rem;
    height: 5rem;
    
}

.s1_arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation:arrow_down 1.5s infinite;}

.scroll-arrow {
    width:8px; 
    height:8px; 
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -o-transform: rotate(45deg);  
    -ms-transform: rotate(45deg);
    animation: arrow-wave 1s infinite; 
    animation-direction: alternate;}


.scroll-arrow:nth-child(1) {animation-delay: 0.1s;}
.scroll-arrow:nth-child(2) {margin-top:6px; animation-delay: 0.2s;}
.scroll-arrow:nth-child(3) {margin-top:6px; animation-delay: 0.3s;}

@keyframes arrow-wave {
0% {opacity: 0;}
50% {opacity: .5;}
100% {opacity: 1;}
}
@keyframes arrow_down{
0%{top:28px;}
50%{top:40px;}
100%{top:28px;}
}

.sub_content_frame{
    margin:0 auto;
    position: relative;
    width: 100%;
    height: 400vh;
}

.sub_content_box{
    margin:0 auto;
    width: 70%;
    height: 100%;
    /* border:1px solid blue; */
}

.sub_content_box_top_text_box{
    position: relative;
    top:3%;
    width: 100;
    height:70vh;
    /* border:1px solid purple; */
}

#sub_content_box_top_text{
    position: relative;
    top:30%;
    margin: 0 auto;
    width:100%;
    height:18%;
    /* border:1px solid black; */
    text-align: center;
}

#sub_content_box_top_text h1{
    color:white;
    font-family :Pretendard, san-serif;
    font-size:4em;
    line-height: 10%;
    font-weight:700;
}

#sub_content_box_top_text h2{
    font-size: 3.5em;
    background: linear-gradient(to right top, #4A9896, #0afbf3);
    color: transparent;
    -webkit-background-clip: text;
}

.sub_content_box_middle{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height:230vh;
    /* border:1px solid purple; */

}

.content_middle_box1{
    display: flex;
    align-items: center;
    /* border:1px solid black; */
    width: 100%;
    height: 20%;
}

.content_middle_box2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* border:1px solid black; */
    width: 100%;
    height: 20%;
}

.middle_box_left{
    position: relative;
    left:5%;
    /* border: 1px solid blue; */
    width: 45%;
    height: 98%;
}

.middle_box_right{
    position: relative;
    right:5%;
    /* border: 1px solid blue; */
    width: 45%;
    height: 98%;
}

.middle_box_img{
    position: relative;

    margin:auto;
    /* border: 1px dotted red; */
    width: 65%;
    height: 95%;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.middle_box_img.visible {
    opacity: 1;
}

#middle_box_img1{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-image: url(../resources/fintech.jpg);
    background-size: cover;
    background-position: center;
}

#middle_box_img2{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-image: url(../resources/coding.jpg);
    background-size: cover;
    background-position: center;
}

#middle_box_img3{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-image: url(../resources/digital_hana.jpg);
    background-size: cover;
    background-position: center;
}

#middle_box_img4{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-image: url(../resources/finance_digital.jpg);
    background-size: cover;
    background-position: center;
}

.miidle_box_text{
    font-weight: bold;
    color:white;
    /* color:black; */
    margin:auto;
    /* border: 1px dotted blue; */
    height: 20%;
    width:65%;
    font-size:18px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.miidle_box_text.visible {
    opacity: 1;
}


.sub_content_box_bottom{
    /* border:1px solid purple; */
    position: relative;
    top:5%;
    width:100%;
    height: 90vh;
}

.sub_content_box_bottom_frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    /* top:46%; */
    /* border:1px solid black; */
    width: 100%;
    height: 300px;
}

#sub_content_box_bottom_frame_applytext{

    width: 90%;
    height: 200px;
}

#sub_content_box_bottom_frame_applytext h2{
    color: white;
    text-align: center;
    font-size: 4em;
}


#gradient{
    text-align: center;
    font-size: 1em;
    background: linear-gradient(to right top, #4A9896, #0afbf3);
    color: transparent;
    -webkit-background-clip: text;
}

.apply_button{
    top:-50px;
    width: 150px;
    height: 50px;
    font-size:16px;
    color: white;
    text-align: center;
    position: relative;
    text-decoration: none;
    /* display:inline-block; */
    display: flex; /* 텍스트를 수직으로 가운데 정렬하기 위해 Flexbox 사용 */
    align-items: center; /* 수직 가운데 정렬을 위해 align-items 속성 사용 */
    justify-content: center;
    border:2px solid white;
    border-radius: 2em;
}

.apply_button:hover{
    font-weight: bold;
    background: linear-gradient(to right top, #4A9896, #0afbf3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
}
.apply_button::before {
    content: '';
    position: absolute;
    border-radius: 2em;
    left: 0px;
    bottom:0px;
    z-index:-1;
    width: 100%;
    height:100%;
    background: transparent;
    box-shadow: inset 0px 0px 0px white;
    display: block;
    -webkit-transition: all 0.8s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.8s cubic-bezier(.5, .24, 0, 1)
}
  /* if you want it to show from the right use -300px instead */
.apply_button:hover::before {
box-shadow: inset 300px 0px 0px white;
}




.bottom_content_frame{
    margin:0 auto;
    width: 100%;
    height: 320vh;
}

.bottom_content_benefit_frame{
    /* border:1px solid blue; */
    width:100%;
    height: 100vh;
}

.bottom_content_benefit_box{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top:10%;
    /* border:1px solid red; */
    width:100%;
    height: 80vh;
}

.bottom_content_benefit_box{
    /* border:1px solid black; */
    width: 70%;
    height: 80%;
}


.bottom_content_benefit_title_box{
    position: relative;
    bottom: 10%;
    width: 100%;
    height: 100px;
    /* border: 1px solid blue; */
}

.bottom_content_benefit_title_box h2{
    color: white; 
    text-align: center;
    font-size: 4em;
}

/* 여기!!!*/

.carousel {
    width: 900px;
    height: 600px;
    position: relative;
    overflow: hidden;

}
    
    .carousel-container {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
    
    .carousel-item {
    flex: 0 0 33.33%;
    height: 100%;
}
    
    .carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
    
    .carousel-controls .arrow {
    width: 30px;
    height: 60px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 24px;
}
    
    .carousel-controls .arrow:hover {
    color: #666;
}

.bottom_content_benefit_carousel_frame{
    /* border:1px solid black; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
}

.bottom_content_benefit_carousel_contents_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid blue; */
    width: 80%;
    height: 100%;
}

.benefit_carousel_title_box{
    position: relative;
    left:5%;
    top:2%;
    /* border: 1px solid red; */
    width: 600px;
    height: 15%;
    
}

#benefit_keyword{
    text-align: center;
    display: inline-block;
    border-radius: 2em;
    width: 22%;
    height: 30%;
    background-color: #4A9896;
    position: relative;
    bottom:2px
}

.keyword{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}

#benefit_title{
    position: relative;
    display: inline-block;
    /* border: 1px solid black; */
    width: 60%;
    height: 20%;
    bottom:5px;
}

#benefit_title h3{
    color:white;
    font-size: 30px;
}

.benefit_carousel_contents_box{
    margin: auto;
    border: 3px solid #4A9896;
    border-radius: 1em;
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;

}

.info_title{
    color:white;
    /* border: 1px solid black; */
    margin-left: 3%;
    width:90%;
    font-size: 25px;
    font-weight: bold;
}

.info_text{
    color:white;
    /* border: 1px solid black; */
    margin-left: 3%;
    width:90%;
    font-size: 17px;
    font-weight: 600;
}

.benefit_carousel_sub_contents_box{
    color:white;
    margin: auto;
    /* border: 1px solid red; */
    width: 90%;
    height: 30%;
    font-size: 17px;
    font-weight: 600;
}

/* 여기!!!*/

.bottom_content_ideal_talent_frame{
    /* border: 1px solid blue; */
    width: 100%;
    height: 110vh;
}

.bottom_content_ideal_talent_box{
    position: relative;
    top:9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.ideal_talent_text_box{
    width: 100%;
    height: 30vh
}

.ideal_talent_visual_box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;
}

.ideal_talent_text_content_box1{
    color: white;
    margin: auto;
    /* border:1px solid black; */
    width:800px;
    height: 30%;
}

@Keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.spiner_container{
    width:350px;
    height: 350px;;
    margin: auto;
}


.square{
    /* border:1px solid black; */
    animation-name:rotate;
    animation-iteration-count:infinite;
    animation-play-state: running;
    animation-timing-function:linear;
    width:350px;
    height:350px;
}

#ani_duration1{
    animation-duration: 25s;
}

#ani_duration2{
    animation-duration: 12s;
}

#ani_duration3{
    animation-duration: 17s;
}

.circle_point{
    position: relative;
    background-color: #4A9896;
    border-radius: 50%;
    width:10px;
    height:10px;
    top:-6px;
    left:170px

}
.circle_border{
    position: relative;
    display: hidden;
    border: 2px solid #4A9896;
    border-radius: 50%;
    width:350px;
    height:350px;
    top:-11px;
    opacity:0.7;
}

.inner_circle{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:-319px;
    left:34px;
    border:2px solid #4A9896;
    width:80%;
    height: 80%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#inner_circle_img1{
    background-image: url(../resources/devopsOpac.jpg);
}

#inner_circle_img2{
    background-image: url(../resources/agileOpac.jpg);
}

#inner_circle_img3{
    background-image: url(../resources/communicationOpac.jpg);
}
.inner_circle_title{
    /* border : 1px solid black; */
    width: 90%;
    height: 20%;
}

.inner_circle_text{
    /* border : 1px solid black; */
    width: 90%;
    height: 30%;
}

#inner_title_font{
    color: white;
    text-align: center;
    font-weight:700;
    font-size:23px;
}

#inner_text_font{
    color: white;
    text-align: center;
    font-weight: 800;
}

.ideal_title_text{
    text-align: center;
    font-size: 38px;
    font-weight:700;
}

.ideal_talent_text_content_box2{
    position: relative;
    bottom: 50px;
    margin: auto;
    /* border:1px solid black; */
    width:600px;
    height: 40%;
}

.ideal_text{
    color: white;
    text-align: center;
    /* line-height:25.2px; */
    font-weight:900;
}

.ideal_talent_visual_content_box{
    /* border:1px solid black; */
    width:350px;;
    height: 80%;
}

.bottom_content_ideal_support_frame{
    background: white;
    position: relative;
    top:3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:100%;
    height: 100vh;
}

.bottom_content_ideal_support_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 80vh;
}


.bottom_content_ideal_support_text{
    width:90%;
    height: 20%;
    position: relative;
    bottom: 10%;
}

.bottom_content_ideal_support_text p{
    text-align: center;
    font-size:40px;
    font-weight:700;

}
.bottom_content_ideal_support_visual_box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:95%;
    height: 65%;
}

.bottom_content_ideal_support_visual_content{
    display: flex;
    flex-direction: column;
    border: 2px solid #89DFA0;
    background-color: #89DFA0;
    width:30%;
    height: 100%;
    border-radius: 5%;
    
}

.bottom_content_ideal_support_visual_content p{
    color:white;
    text-align: center;
    font-size:22px;
    font-weight:600;
}

.support_visual_content_box{
    background-color: white;
    position: relative;
    width:100;
    height: 320px;
}

.support_agency_name1{
    position: relative;
    top:20px;
    margin:auto;
    width:250px;
    height: 30px; 
    background-size: cover;
    background-image: url('../resources/agencylogo.jpg');

}

.support_agency_name2{
    position: relative;
    top:20px;
    margin:auto;
    width:150px;
    height: 30px; 
    background-size: cover;
    background-image: url('../resources/alpacologo.jpg');
}

.support_explanation{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    height: 220px;
}



.support_explanation p{
    color: black;
    text-align: left;
    font-size: 15px;
}

.support_edu_place_visual_box{
    background-color: white;
    width:100;
    height: 320px;
}

.support_edu_place_visual_content{
    margin-top: 20px;
    background-color: white;
    width:100;
    height: 250px;
}

.edu_place_img{
    margin: auto;
    width:90%;
    height: 240px;
    background-size: cover;
    background-image: url('../resources/eduplace.jpg');
}

.eduplace_text{
    height: 70px;
}

.eduplace_text p{
    color: black;
    font-size: 15px;
}

.footer_container{
    height: 40vh;
    width: 100%;
}

.footer_contents_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80vw;
    height: 30vh;
    
}

.footer_title{
    width: 300px;
    height: 80px;
    z-index: 1;

}

.footer_title p{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: white;
    font-weight: 700;
}

em{
	font-style: normal;
	color: #4A9896;
}

.footer_etc{
    width: 300px;
    height: 100px;
}

.footer_etc p{
    font-weight: 600;
    text-align: center;
    color: white;
    opacity: 0.7;
}

/* 기본은 위에 코드이고 1700px 이하부터 아래코드 */
@media ( max-width: 1700px ){
    .middle_box_img{
        width: 70%;
        height: 95%;
    }

    .miidle_box_text{
        width:70%;
    }
}

@media ( max-width: 1600px ){

}

@media ( max-width: 1400px ){


    .middle_box_img{
        width: 80%;
        height: 95%;
    }

    .miidle_box_text{
    width:80%;
    }
}

@media ( max-width: 1280px){
    #sub_content_box_top_text h1{
        font-size:3.5em;
    }
    
    #sub_content_box_top_text h2{
        font-size: 3em;
    }

    .middle_box_img{
        width: 100%;
        height: 85%;
    }

    .miidle_box_text{
        width:100%;
        font-size:15px;
    }

    .middle_box_left{

        left:-5%;
    }

    .middle_box_right{
        right:-5%;
    }


    
    #sub_content_box_bottom_frame_applytext h2{
        font-size: 3em;
    }

    #sub_content_box_bottom_frame_applytext{
        width: 100%;
    }

    .apply_button{
        top:-50px;
        width: 130px;
        height: 40px;
        font-size:16px;
        color: white;
        border-radius: 2em;
    }
}

@media ( max-width: 1250px ){
    /* 인재상 애니메이션 */
    .ideal_talent_visual_box{
        flex-wrap: wrap;
    }

    .bottom_content_frame{
        height: 360vh;
    }

    .bottom_content_ideal_talent_frame{
        height: 150vh;
    }

    .spiner_container{
        padding-left: 50px;
        padding-right: 50px;
        padding-top:100px;
    }
}

@media ( max-width: 1100px ){

    .sub_content_box_middle{
        height:250vh;
    }



    

}

@media ( max-width: 1050px ){

    #sub_content_box_top_text h1{
        font-size:3.2em;
    }
    
    #sub_content_box_top_text h2{
        font-size: 2.8em;

    }

    .middle_box_img{
        width: 110%;
        height: 85%;
    }

    .miidle_box_text{
        width:100%;
        font-size:15px;
    }

    .middle_box_right{
        right:0%;
    }

}

@media ( max-width: 910px ){
    /* 인재상 애니메이션 */

    .bottom_content_ideal_talent_frame{
        /* border: 1px solid blue; */
        width: 100%;
        height: 190vh;
    }

    .ideal_talent_visual_box{
        flex-wrap: nowrap;
        flex-direction: column;
        height: 50vh;
        margin-top: 400px;
    }

    
    /* 타이틀 텍스트 */
    .ideal_talent_text_content_box1{
        color: white;
        margin: auto;
        /* border:1px solid black; */
        width:500px;
        height: 30%;
    }

    .ideal_title_text{
        text-align: center;
        font-size: 38px;
        font-weight:700;
    }

    .ideal_talent_text_content_box2{
        position: relative;
        bottom: 40px;
        margin: auto;
        /* border:1px solid black; */
        width:500px;
        height: 40%;
    }
    
    .ideal_text{
        color: white;
        text-align: center;
        /* line-height:25.2px; */
        font-weight:900;
    }

    /* 서포트 프레임 재조정 ㄱㄱ */

    .footer_container{
        height: 30vh;
        width: 100%;
    }

    .bottom_content_frame{
        height: 450vh;
    }

    .bottom_content_ideal_support_text{
        bottom: 0%;
    }

    .bottom_content_ideal_support_frame{
        background: white;
        position: relative;
        top:3%;
        display: flex;
        flex-direction: column;
        width:100%;
        height: 140vh;
    }
    
    .bottom_content_ideal_support_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100%;
    }
    
    
    .bottom_content_ideal_support_text{
        width:90%;
        height: 10%;
    }
    
    .bottom_content_ideal_support_text p{
        text-align: center;
        font-size:40px;
        font-weight:700;
    
    }
    .bottom_content_ideal_support_visual_box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width:95%;
        height: 120vh;
    }
    
    .bottom_content_ideal_support_visual_content{
        display: flex;
        flex-direction: column;
        border: 2px solid #89DFA0;
        background-color: #89DFA0;
        width:90%;
        height: 30vh;
        border-radius: 10px;
        
    }
    
    .bottom_content_ideal_support_visual_content p{
        color:white;
        text-align: center;
        font-size:22px;
        font-weight:600;
        position: relative;
        bottom: 5%;
    }
    
    #support_visual_content_box{
        height: 40vh;
    }
    
    .support_visual_content_box{
        background-color: white;
        position: relative;
        bottom: 10%;
        width:100;
        height: 77%;
    }
    
    .support_agency_name1{
        position: relative;
        top:5%;
        margin:auto;
        width:250px;
        height: 30px; 
        background-size: cover;
        background-image: url('../resources/agencylogo.jpg');
    
    }
    
    .support_agency_name2{
        position: relative;
        top:20px;
        margin:auto;
        width:150px;
        height: 30px; 
        background-size: cover;
        background-image: url('../resources/alpacologo.jpg');
    }
    
    .support_explanation{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 45px;
        height: 90px;
        position: relative;
        bottom:15px;
    }
    
    
    
    .support_explanation p{
        color: black;
        text-align: left;
        font-size: 15px;
    }
    
    .support_edu_place_visual_box{
        background-color: white;
        width:100;
        height: 500px;
        display: flex;
        justify-content: space-around;
        position: relative;
        bottom:9%;
    }
    
    .support_edu_place_visual_content1{
    
        margin-top: 10px;
        background-color: white;
        width:40%;
        height: 90%;
        background-image: url('../resources/finaleduplace.jpg');
    }
    
    .support_edu_place_visual_content2{
    
        margin-top: 10px;
        background-color: white;
        width:40%;
        height: 90%;
        background-image: url('../resources/finalededuuu.jpg');
    }
}

@media ( max-width: 900px ){

    .middle_box_img{
        width: 110%;
        height: 75%;
    }

    .miidle_box_text{
        width:100%;
        font-size:15px;
    }

    .middle_box_left{
        left:-5%;
    }

    /* 캐러셀 크기(디테일은 js에서) */
    .carousel {
        width: 700px;
    }

    #benefit_keyword{
        bottom:-4px;
    }

    #benefit_title{
        bottom:0px;
    }

    /* 화살표 */
    .carousel-controls {
        top: 40%;
    }

    /* 캐러셀 안에 텍스트 시작*/
    .bottom_content_benefit_title_box h2{
        color: white; 
        text-align: center;
        font-size: 3.2em;
    }
    
    .benefit_carousel_title_box{
 
        top:2%; 
    }
    
    #benefit_title h3{
        font-size: 27px;
    }
    
    .info_title{
        font-size: 23px;
    }
    
    .info_text{
        font-size: 15px;

    }
    
    .benefit_carousel_sub_contents_box{
        font-size: 15px;
    }
    /* 캐러셀 안에 텍스트 끝 */

}

@media ( max-width: 800px ){
    .middle_box_img{
        width: 110%;
        height: 65%;
    }

    .miidle_box_text{
        font-size:14px;
    }

}

@media ( max-width: 720px ){

    .sub_content_box{
        margin:0 auto;
        width: 85%;
        height: 100%;
        /* border:1px solid blue; */
    }

    .middle_box_img{
        width: 110%;
        height: 75%;
    }

    .support_explanation p{
        font-size: 13px;
    }
}


@media ( max-width: 700px ){
    /* 캐러셀 크기 */
    .carousel {
        width: 500px;
    }

    /* 캐러샐 화살표 */
    .carousel-controls {
        top: 35%;
    }

    /* 캐러셀 안에 박스크기 재조정 */
    .bottom_content_benefit_carousel_contents_box{
        width: 80%;
        height: 70%;
    }

    /* 오른쪽 튀어나가는 타이틀박스 재조정 */
    .bottom_content_benefit_title_box{
        top:7%;
    }

    #benefit_keyword{
        bottom:-7px;
    }

    
    #benefit_title{
        bottom:-3px;
    }

    /* 캐러셀 안에 텍스트 시작*/
    .bottom_content_benefit_title_box h2{
        color: white; 
        text-align: center;
        font-size: 2.3em;
    }
    
    .benefit_carousel_title_box{
        position: relative;
        left:5%;
        top:2%;
        /* border: 1px solid red; */
        width: 600px;
        height: 15%;
        
    }
    
    #benefit_title h3{
        font-size: 18px;
    }
    
    .info_title{
        font-size: 16px;
    }
    

    
    .benefit_carousel_sub_contents_box{
        font-size: 10px;
    }
    /* 캐러셀 안에 텍스트 끝 */

}

@media ( max-width: 610px) {
    #sub_content_box_top_text h1{
        font-size:2.5em;
    }
    
    #sub_content_box_top_text h2{
        font-size: 2em;
    }

    .middle_box_img{
        width: 110%;
        height: 85%;
    }

    .miidle_box_text{
        font-size:13px;
    }

    .sub_content_box_middle{

        height:210vh;

    }

    .sub_content_frame{
        height: 360vh;
    }

    .sub_visual_box{
        height: 550vh;
    }

    .footer_container{
        height: 30vh;
        width: 100%;
    }


    /* 애니메이션 */
    /* 타이틀 텍스트 */
    .ideal_talent_text_content_box1{
        width:400px;
    }

    .ideal_title_text{
        font-size: 26px;
    }

    .ideal_talent_text_content_box2{
        position: relative;
        bottom: 33px;
        margin: auto;
        /* border:1px solid black; */
        width:400px;
        height: 40%;
    }
    
    .ideal_text{
        color: white;
        text-align: center;
        /* line-height:25.2px; */
        font-weight:900;
    }

    .ideal_text br{
        display:none;
    }


}

@media ( max-width: 560px ){
    .middle_box_img{
        width: 110%;
        height: 95%;
    }

    .miidle_box_text{
        font-size:12px;
    }

    .sub_visual_box{
        height: 650vh;
    }

    .sub_content_box_middle{

        height:160vh;

    }

    .sub_content_frame{
        height: 320vh;
    }

    .middle_box_right{
        right:4%;
    }

    #sub_content_box_bottom_frame_applytext h2{
        font-size: 2.5em;
    }

    .apply_button{
        top:-90px;
        width: 110px;
    }

    
}

@media ( max-width: 500px ){

    .bottom_content_ideal_support_text p{
        text-align: center;
        font-size:30px;
        font-weight:700;
    
    }
        .support_explanation p{
            font-size: 11px;
        }

        /* 캐러셀 크기 */
        .carousel {
            width: 350px;
        }

        #benefit_keyword{
            width: 13%;
            height: 30%;
            bottom:-10px;
        }

        .keyword h4{
            font-size: 10px;
            font-weight:bold;
        }

        #benefit_title{
            bottom:-10px;
        }

        /* 캐러셀 안에 텍스트 시작*/
    .bottom_content_benefit_title_box h2{
        color: white; 
        text-align: center;
        font-size: 1.8em;
    }
    
    .benefit_carousel_title_box{
        position: relative;
        left:5%;
        top:2%;
        /* border: 1px solid red; */
        width: 600px;
        height: 15%;
        
    }
    
    #benefit_title h3{
        font-size: 15px;
    }
    
    .info_title{
        font-size: 14px;
    }

    .info_text{
        font-size: 12px;

    }

    #sub_content_box_bottom_frame_applytext h2{
        color: white;
        text-align: center;
        font-size: 2em;
    }
    

    
    .benefit_carousel_sub_contents_box{
        font-size: 8px;
        width: 100%;
    }
    /* 캐러셀 안에 텍스트 끝 */

    /* 애니메이션 타이틀 텍스트 */
    .ideal_talent_text_content_box2{
        display: none;
    }
    
    .ideal_text{
        display:none;
    }

    .ideal_talent_text_content_box1{
        position : relative;
        bottom:30px;
        width:300px;
    }

    .ideal_title_text{
        text-align: center;
        font-size: 22px;
        font-weight:700;
    }

    .ideal_talent_text_box{
        height: 2vh
    }

    .spiner_container{
        padding-left: 0px;
        padding-right: 0px;
        padding-top:100px;
    }

    .bottom_content_ideal_talent_frame{
        /* border: 1px solid blue; */
        width: 100%;
        height: 180vh;
    }

    .bottom_content_frame{
        height: 430vh;
    }


/* 애니메이션 크기 350 -> 250 (가로 최대 250*1.414=350) */
    .spiner_container{
        /* border: 1px solid purple; */
        width:250px;
        height: 250px;;
        margin: auto;
    }

    .square{
        /* border : 1px solid white; */
        animation-name:rotate;
        animation-iteration-count:infinite;
        animation-play-state: running;
        animation-timing-function:linear;
        width:250px;
        height:250px;
    }

    .circle_point{
        position: relative;
        background-color: #4A9896;
        border-radius: 50%;
        width:10px;
        height:10px;
        top:-5px;
        left:120px

    }

    .circle_border{
        position: relative;
        display: hidden;
        border: 2px solid #4A9896;
        border-radius: 50%;
        width:250px;
        height:250px;
        top:-11px;
        opacity:0.7;
    }

    .inner_circle{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top:-226.5px;
        left:24px;
        border:2px solid #4A9896;
        width:80%;
        height: 80%;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
    }

    #inner_title_font{
        color: white;
        text-align: center;
        font-weight:700;
        font-size:18px;
    }

    #inner_text_font{
        color: white;
        text-align: center;
        font-weight: 800;
        font-size: 11px;
    }

    .sub_content_box_bottom{
        height: 90vh;
    }

    .sub_content_frame{
        height: 280vh;
    }

    .sub_content_box_bottom_frame{
        top:10%;
    }


}

@media ( max-width: 490px ){
    .middle_box_img{
        width: 105%;
        height: 85%;
    }

    .miidle_box_text{
        font-size:14px;
        width:95%;
    }

    .miidle_box_text p br{
        display:none;
    }

    .middle_box_right{
        right:2%;
    }


}

@media ( max-width: 430px ){
    .middle_box_img{
        width: 120%;
        height: 75%;
    }

    .middle_box_right{
        right:4%;
    }

}

@media ( max-width: 350px ){

}