
.multiple_container{
    position: relative;
    height: auto;
}

.multiple_section{
    border-radius: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 70%;
    overflow-x: hidden;
}
.team-list{
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    padding: 40px 0;
    transition: 0.5s ease-out;
    left: 0;
}
.new_team{
    padding: 40px 0;
    display: flex;  /* 플렉스 컨테이너 지정 */
    flex-shrink: 0;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.team-item{
    flex-basis: calc(17.8%);
    flex-shrink: 0;
    transition: all .4s;
    z-index: 10;
    margin: 0 1%;
    border: 2px transparent;
}
.team-item img{
    width: 100%;
    height: 100%;
    border:6px white solid;
    box-sizing: border-box;
    border-radius: 15px;
    object-fit: cover;
}

.team-item:hover{
    flex-basis: calc(19.5%);
    transition: all 0.4s;
}

/*사람 이름 hover : 1초 변경*/
.team-item:hover h2{ 
    transition: all 1s ;
    opacity: 10;
}

/*새로 작업중인 부분 - 끝*/

button {
    background-color: transparent;
    border: none;
    width: 30px;
    padding: 20px;
    transition: opacity 100ms;
    position: absolute;
    top: 50%;
    left: -57px;
    transform: translate3d(0, -50%, 0);
    z-index: 2;
    cursor: pointer;
  }
  button svg {
    fill: rgba(8, 0, 4, 0.99);
  }
  button:hover, button:focus {
    opacity: 0.6;
  }
  
  .button--next {
    left: auto;
    right: -50px;
    transform: translate3d(0, -50%, 0) rotate(180deg);
  }



.link{
    padding: 0;
    margin: -4px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.profile{
    position: relative;
    overflow: hidden;
}
.profile:before{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    height: 200px;
}
.profile-contents{
    position: absolute;
    width: 90%;
    left: 10px;
    bottom:10px;
}
.profile-contents h2{
    position: relative;
    /* font-size: calc(1.5vw); */
    font-size: 2.5rem;
    /* font-size: calc(1.6vw); */
    color: #ffffff;
}
.profile-contents>h2:not(span){
    text-shadow: 1px 1px #000;
}
.profile-contents h2 span{
    color: #008385;
    display: block;
    /* font-size: calc(1.2vw); */
    font-size: 1.8rem;
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
}
.profile-contents p{
    color: white;
    font-size: 14px;
    min-width:  7.375rem;
    max-height: 0;
    line-height: 1.2;
    overflow: hidden;
    transition-delay: all .3s;
    opacity: 0;
    text-shadow: 1px 1px #000;
}
.team-item:hover .profile-contents p{
    max-height: 6em;
    margin-top: 0.2em;
    opacity: 1;
    transition: all 0.6s ease-out; 
}