       
       @import url(../css/interviewSection.css);
       @import url(../css/multipleSection.css);
       @import url(../css/font.css);
       body,button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th {
            margin: 0;
            padding: 0;
        }
        
        html{
            font-size: 10px;
            margin: 0 auto;
            min-height: 3100px;
        }
        header{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;
            /* background: rgba(0,0,0,0.9); */
            background-color: #000;
        }
        a{
            cursor: pointer;
            color: inherit;
            text-decoration: none;
        }
        .main_title{
            width: 70%;
            max-width: 1500px;
            display: flex;
            position: relative;
            font-family: 'hana2-bold';
            flex-direction: column;
            padding: 8.0rem 0 8.0rem;
            font-size: 6.6rem;
            line-height: 10.4rem;
            letter-spacing: 5px;
            background: linear-gradient(122deg, #15c79a, #858bd8,rgba(39, 183, 159, 0.99));
            color: rgba(0,0,0,0);
            -webkit-background-clip: text;
            background-clip: text;
            margin: 0 auto;
        }

        body{ 
            color: #999;
            overflow-y: scroll;
        }
        .wrap{
            height: 100%;
            min-width: 375px;
        }
        li{
            list-style-type: none;
        }
        .hana_ci_bgcolor{
            background-color: #008385;
        }
        .hana_ci_color{
            color: #008385;
        }
        /* //justify-content = center algn-items 공통 */
        .backgroundBanner, .content,.section_portfolio{
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        } 
        .backgroundBanner{
            display: flex;
            position: relative;
            margin: 0 auto;
            padding: 0;
            background-color: #000;
            height: 100vh;
            flex-wrap: nowrap;
            min-height: 667px;
        }
        
        .sub_title{
            display: flex;
            width: 100%;
            height: 30vh;
            font-size: 4.8rem;
            font-family: 'hana2-bold';
            color: #008385;
            margin-top: 10rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-weight: 1000;
            padding-bottom: 70px;
            z-index: 2;
        }
        #sub_title_bg{
            width: 70vw;
            top:0;
            object-fit: fill;
            border-radius: 1000px;
            margin-bottom: 10px;
            z-index: 0;
        }
        .content{
            max-width: 1920px;
        }
        .section_portfolio{
            max-width: 1700px;
            margin: 0 auto;
            position: relative;
            display: flex;
            width: 70%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .sub_title_br{
            display: none;
        }

        .arrow_frame{
            position: relative;
            /* margin: auto; */
            width: 5rem;
            height: 5rem;
        }
        
        .arrow_box{
            position: fixed;
            width: 5rem;
            height: 5rem;
        }
        
        .s1_arrow{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation:arrow_down 1.5s infinite;}
        
        .scroll-arrow {
            width:8px; 
            height:8px; 
            border-right: 3px solid white;
            border-bottom: 3px solid white;
            transform: rotate(45deg); 
            -webkit-transform: rotate(45deg); 
            -moz-transform: rotate(45deg); 
            -o-transform: rotate(45deg);  
            -ms-transform: rotate(45deg);
            animation: arrow-wave 1s infinite; 
            animation-direction: alternate;}
        
        
        .scroll-arrow:nth-child(1) {animation-delay: 0.1s;}
        .scroll-arrow:nth-child(2) {margin-top:6px; animation-delay: 0.2s;}
        .scroll-arrow:nth-child(3) {margin-top:6px; animation-delay: 0.3s;}
        #interview_title_br{
            display: none;
        }
    @keyframes arrow-wave {
        0% {opacity: 0;}
        50% {opacity: .5;}
        100% {opacity: 1;}
    }
    @keyframes arrow_down{
        0%{top:28px;}
        50%{top:80px;}
        100%{top:28px;}
    }


    @media  (max-width:1407px){
        #interview_title_br{
            display: block;
        }
        .main_title{
            width: 90%;
        }
    }
    @media (max-width:1200px){   
            .main_title{
                padding: 8.0rem 0 8.0rem;
                font-size: 6.6rem;
                line-height: 10.4rem;
                letter-spacing: 5px;
            }
            .sub_title{
                padding: 40px 0 80px;
                letter-spacing: -0.8px;
            }
            .chance_txt{
                font-size: 2.2rem;
                line-height: 3.4rem;
                letter-spacing: -0.5px;            
            }
            .review_txt{
                margin-top: 20px;
                font-size: 1.8rem;
                line-height: 3.0rem;
            }
            .profile_info{
                margin-top: 29px;
                font-size: 1.8rem;
                line-height: 5.0rem;
                letter-spacing: -0.5px;
            }
            .interview_list > ul > li .interview_area .profile_info .sub_info {
                margin-left: 60px;
            }
            .interview_list > ul > li .interview_area .btn_text {
                margin-top: 66px;
                margin-left: -14px;
            }
            .btn_text{
                min-width: 170px;
                height: 5rem;
                font-size: 1.6rem;
            }
            .img_box{
                position: absolute;
                right: 0;
                bottom: 0;
            }
            .img_box img {
                width: 200px;
                height: 200px;
            }
            .pc_br{
                display: block !important;
            }
            .tb_br{
                display: block !important;
            }
            .profile_info .sub_info li + li {
             margin-top: -1px;
            }
            button {
                width: 19px;
                left: -30px;
              }
            .button--next {
                left: auto;
                right: -30px;
                transform: translate3d(0, -50%, 0) rotate(180deg);
            }
            .interview_list{
                width: 100%;
                padding: 0 30px 215px;
            }
            .profile-contents h2{
                font-size: 1.8rem;
            }
            .profile-contents h2 span{
                font-size: 1.4rem;
            }
        }
    @media(max-width:940px){
        .main_title{
            padding: 8.0rem 0 8.0rem;
            font-size: 4.6rem;
            line-height: 7.4rem;
            letter-spacing: 5px;
        }
        .sub_title{
            padding: 40px 0 40px;
            font-size: 3.8rem;
            line-height: 5.0rem;
            letter-spacing: -0.8px;
        }
        .new_team{
            flex-direction: row;
            flex-basis: calc(117.8%);
        }
        .team-item{
            flex-basis: 39.9%;
            flex-grow: 0;
            /* width: calc(50%-10px); */
        }
        .team-item:hover{
            flex-basis: 41%;
        }
        .profile-contents h2{
            font-size: calc(3.0vw);
        }
        .profile-contents h2 span{
            font-size: calc(3.0vw);
        }

    }
    @media(max-width:792px){
        .main_title{
            font-size: 3.6rem;
            line-height: 5.4rem;
        }
        .sub_title{
            padding: 40px 0 40px;
            font-size: 3.4rem;
            line-height: 5.0rem;
        }
        #sub_title_bg{
            display: none;
        }
        .chance_txt{
            font-size: 2.0rem;
            line-height: 3.2rem;
        }
        .review_txt{
            margin-top: 14px;
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
        .profile_info{
            margin-top: 27px;
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: -0.3px;        
        }
        .interview_list > ul > li .interview_area .profile_info .sub_info {
            margin-left: 48px;
        }
        .profile_info .sub_info li + li {
            margin-top: -1px;
           }
        .interview_list > ul > li .interview_area .btn_text {
            margin-top: 25px;
            margin-left: -14px;
        }
        .img_box img {
            width: 140px;
            height: 140px;
        }

    } 
    @media (max-width:660px){
        .sub_title{
            font-size: 2.8rem;
            padding: 0 0 0;
        }

    }
    @media (max-width:556px){

        /* 메인 타이틀 작업, 서브 타이틀 작업 */
        .main_title{
            font-size: 2.8rem;
            line-height: 4.8rem;
            letter-spacing: 1px;
        }
        .sub_title{
            font-size: 2.4rem;
        }
        .sub_title_br{
            display: block;
        }
        .sub_title_br2{
            display: none;
        }
        .team-list{
            padding: 0 0;
        }
    }
    @media (max-width:480px){
        .img_box img {
            width: 100px;
            height: 100px;
        }
    }
    @media (max-width:406px){
        #interview_title{
            font-size: 2.4rem;
            letter-spacing: -1.9px;
        }
        .chance_txt{
            font-size: 1.9rem;
            line-height: 3.2rem;
        }
        
    }
    @media (max-width:375px){
        .btn_text{
            min-width: 170px;
            height: 5rem;
            font-size: 1.4rem;
            line-height: 6.0rem;
        }
    }

